
.aboutHero a{
    display: none;
}

.AboutData{
    padding: 40px 70px;
}
.AboutDataDetails{
    text-align: start;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

